:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(57, 57, 57);
  background-color: rgb(40, 40, 40);

}

.container{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
  align-items: center;
}
.game-title{
  font-size: 2.2rem;
  font-weight: 700;
  max-width: 17ch;
  text-align: center;
  color: white;
  text-decoration: none;
  transition: all .250s ease-in-out;
}
.game-title:hover,.game-title:active{
  color: rgb(131, 238, 255);
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

.card{
  display: flex;
  flex-direction: column;
  background-color: rgb(192, 192, 192);
  transition: all 250ms ease-in-out;
}
.card:hover{
  box-shadow: 0px 0px 26px 0px rgb(94, 101, 224);
}
.card:active{
  outline:2px solid rgb(9, 229, 245);

}
.specie{
  font-weight: 700;
  font-size: 1.2rem;
  padding: 1rem;

}
.card img {
  background-color: rgb(245, 245, 245);
  margin: .3rem;
  -webkit-user-drag: none

}
.card p{
  margin: .3rem;
  background-color: rgb(58, 58, 58);
}
.card-colection{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
}

.rules {
  font-weight: 700;
}

.start-game{
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: .3rem 1.2rem;
  background-color: rgb(247, 247, 247);
}

.start-game:hover{
  outline: none;
  background-color: rgb(225, 225, 225);
}

.card-colection{
  margin-bottom: 1rem;
}
.scoreboard{
  font-size: 1.2rem;
  font-weight: 600;
  color: yellow;
}